@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}  */

/* body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
  }
  
  .navbar {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    padding: 1rem;
    text-align: center;
    color: white;
    font-size: 1.5rem;
  }
  
  .dashboard {
    text-align: center;
    margin: 2rem;
  }
  
  .chart-container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  } */
  
  


